
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom right,purple ,gold);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#play, #quiz, #score {
    background:rgba(216, 168, 8, 0.2);
    padding: 25px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
   
}


h1, h2 {
    margin-bottom: 15px;
    color:whitesmoke;
}

select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

select:focus {
    border-color: #4facfe;
}


button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: #4facfe;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #007bff;
}


button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

#question {
    margin: 15px 0;
    font-size: 18px;
    color: whitesmoke;
}


.option {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    background: #f1f1f1;
    color: #333;
    border-radius: 8px;
    border: none;
    transition: 0.3s;
}

.option:hover {
    background: #ddd;
}

#result {
    font-size: 18px;
    margin: 15px 0;
}


